.footer-inner-container {
    @media only screen and (max-width: 575.98px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            justify-content: center;
            align-items: center;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            justify-content: center;
            align-items: center;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            justify-content: center;
            align-items: center;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            display: grid;
            grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
            height: 30vh;
            width: 100%;
        }
    }
}

footer {
    display: grid;
    align-items: center;

    @media only screen and (max-width: 575.98px) {
        & {
            grid-template-rows: 150vh 20vh;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            grid-template-rows: 50vh 20vh;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            grid-template-rows: 50vh 20vh;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            grid-template-rows: 50vh 20vh;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            grid-template-rows: 50vh 20vh;
        }
    }
}

.footer-heading {
    height: 7vh;

    & p {
        font-family: "Roboto Mono";
        font-size: 1.06rem;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-align: left;
        color: #222222;

    }
}

.footer-link-container {
    display: grid;
    grid-template-rows: repeat(5, 5vh);

    a {
        font-family: "Roboto Mono";
        font-size: 0.94rem;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none;
        color: #8A8A8A;
    }
}

.footer-logo-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 70%;
    justify-self: center;
    height: 5vh;

    & p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.06rem;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #373737;
        display: flex;
        align-items: center;
    }

    & .logo {
        display: flex;
        align-items: center;
    }
}

.footer-icons-container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr;

}

.footer-icons {
    width: 70%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.copyright-container {
    font-family: "Roboto Mono";
    font-size: 0.94rem;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #898989;
    grid-column: 3/ span 5;
    display: flex;
    justify-self: flex-end;
    margin-right: 20px;
}

.footer-inner-icons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}