@import '_mixins';
@import '_variables';

.services-container {
    display: flex;
    align-items: center;
    width: 75%;
    justify-self: center;
    align-self: center;

}

.services-inner-container {
    width: 100%;
    display: grid;
    grid-row-gap: 30px;
    @media only screen and (max-width: 575.98px) {
        & {
    
            grid-template-rows: 40vh 80vh;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            grid-template-rows: 30vh 50vh;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            grid-template-rows: 30vh 50vh;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            grid-template-rows: 30vh 50vh;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            grid-template-rows: 30vh 50vh;
 
        }
    }
}

.services-heading {
    display: grid;
    @media only screen and (max-width: 575.98px) {
        & {
            grid-template-rows: 10vh 24vh;
            width: 100%;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            grid-template-rows: 3vh 24vh;
            width: 100%;        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            grid-template-rows: 3vh 24vh;
            width: 100%;        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            grid-template-rows: 3vh 24vh;
            width: 100%;        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            grid-template-rows: 3vh 24vh;
            width: 60%;
        }
    }
    & .sub-title {
        font-family: "Roboto Mono";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DCDCDC;
        text-transform: uppercase;
    }

    & .title {
        font-family: "Roboto Mono";
        font-size: 58px;
        font-style: normal;
        font-weight: 500;
        line-height: 79px;
        letter-spacing: -0.07em;
        text-align: left;
        color: #F4F4F4;
        @media only screen and (max-width: 575.98px) {
            & {
                width: 100%;
            }
        }
    
        /* Small devices (landscape phones, 576px and up) */
        @media only screen and (min-width: 576px) and (max-width: 767.98px) {
            & {
                width: 60%;
            }
        }
    
        /* // Medium devices (tablets, 768px and up) */
        @media only screen and (min-width: 768px) and (max-width: 991.98px) {
            & {
                width: 60%;
            }
        }
    
        /* Large devices (desktops, 992px and up) */
        @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
            & {
                width: 60%;
            }
        }
    
        /* // Extra large devices (large desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            & {
                width: 70%;
            }
        }
    }
}
.services-title-container {
    border-bottom: 8px solid #D76161;
}
.services-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.service-list {
    border: 1px solid transparent;
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    grid-column-gap: 10px;
    @media only screen and (max-width: 575.98px) {
        & {
            height: 83px;
            border-radius: 14px;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            height: 123px;
            border-radius: 14px;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            height: 123px;
            border-radius: 14px;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            height: 123px;
            border-radius: 14px;

        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            height: 123px;
            border-radius: 26px;
        }
    }
}

.service-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & p {
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto Mono";
        font-size: 0.94rem;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.16em;
        text-align: left;

    }
}

.service-list-1 {
    @extend .service-list;
    @media only screen and (max-width: 575.98px) {
        & {
            width: 220px;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            width: 180px;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            width: 180px;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            width: 180px;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            width: 388.5px;
        }
    }
}

.service-list-2 {
    @extend .service-list;
    @media only screen and (max-width: 575.98px) {
        & {
            width: 361px;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            width: 180px;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            width: 180px;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            width: 180px;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            width: 521px;
        }
    }
}

.service-list-3 {
    @extend .service-list;
    @media only screen and (max-width: 575.98px) {
        & {
            width: 381px;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            width: 180px;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            width: 180px;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            width: 180px;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            width: 551px;
        }
    }
}

.service-list-4 {
    @extend .service-list;
    @media only screen and (max-width: 575.98px) {
        & {
            width: 210px;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            width: 180px;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            width: 180px;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            width: 180px;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            width: 405px;
        }
    }
}

.service-list-5 {
    @extend .service-list;
    @media only screen and (max-width: 575.98px) {
        & {
            width: 420px;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        & {
            width: 180px;
        }
    }

    /* // Medium devices (tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        & {
            width: 180px;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        & {
            width: 180px;
        }
    }

    /* // Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        & {
            width: 625px;
        }
    }
}

.service-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}