.talent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talent-inner-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  /* Small devices (landscape phones, 576px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Large devices (desktops, 992px and up) */
  /* // Extra large devices (large desktops, 1200px and up) */
}

@media only screen and (max-width: 575.98px) {
  .talent-inner-container {
    grid-template-rows: 5vh 60vh 90vh;
    width: 85%;
    grid-row-gap: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .talent-inner-container {
    grid-template-rows: 5vh 37vh 21vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .talent-inner-container {
    grid-template-rows: 5vh 37vh 21vh;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .talent-inner-container {
    grid-template-rows: 5vh 37vh 21vh;
  }
}

@media only screen and (min-width: 1200px) {
  .talent-inner-container {
    grid-template-rows: 5vh 37vh 21vh;
    width: 70%;
    grid-row-gap: 40px;
  }
}

.talent-text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talent-text-1 p {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  /* Small devices (landscape phones, 576px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Large devices (desktops, 992px and up) */
  /* // Extra large devices (large desktops, 1200px and up) */
}

@media only screen and (max-width: 575.98px) {
  .talent-text-1 p {
    font-size: 0.74rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .talent-text-1 p {
    font-size: 0.74rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .talent-text-1 p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .talent-text-1 p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1200px) {
  .talent-text-1 p {
    font-size: 1.125rem;
  }
}

.talent-text-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talent-text-2 p {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.07em;
  text-align: center;
  /* Small devices (landscape phones, 576px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Large devices (desktops, 992px and up) */
  /* // Extra large devices (large desktops, 1200px and up) */
}

@media only screen and (max-width: 575.98px) {
  .talent-text-2 p {
    font-size: 3.13rem;
    width: 100%;
    line-height: 68px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .talent-text-2 p {
    font-size: 4.69rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .talent-text-2 p {
    font-size: 4.69rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .talent-text-2 p {
    font-size: 4.69rem;
  }
}

@media only screen and (min-width: 1200px) {
  .talent-text-2 p {
    font-size: 4.69rem;
    width: 85%;
    line-height: 103px;
  }
}

.talent-text-3 {
  justify-content: center;
  align-items: center;
  /* Small devices (landscape phones, 576px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Large devices (desktops, 992px and up) */
  /* // Extra large devices (large desktops, 1200px and up) */
}

@media only screen and (max-width: 575.98px) {
  .talent-text-3 {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .talent-text-3 {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .talent-text-3 {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .talent-text-3 {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .talent-text-3 {
    display: flex;
  }
}

.talent-text-3 p {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.56rem;
  letter-spacing: 0.04em;
  text-align: center;
  width: 55%;
}

.talent-text-mobile-3 {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  /* Small devices (landscape phones, 576px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Large devices (desktops, 992px and up) */
  /* // Extra large devices (large desktops, 1200px and up) */
}

@media only screen and (max-width: 575.98px) {
  .talent-text-mobile-3 {
    display: flex;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .talent-text-mobile-3 {
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .talent-text-mobile-3 {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .talent-text-mobile-3 {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .talent-text-mobile-3 {
    display: none;
  }
}

.talent-text-mobile-3 p {
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #E9E9E9;
  width: 70%;
}
